<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Stacked Bar Chart - Mental Health Conditions by Country with Stress Level
      Colors
    </title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="chart-title"></div>
    <div class="flex justify-center items-center">
      <div id="scatterplot"></div>
    </div>

    <script src="/src/js/main.js"></script>
  </body>
</html>
